#include <windows.h>

#ifdef _DEBUG
#define VER_DEBUG                   VS_FF_DEBUG
#else
#define VER_DEBUG                   0
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,1
PRODUCTVERSION  1,0,0,1
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VER_DEBUG
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Kaentake"
            VALUE "FileDescription",  "Kaentake"
            VALUE "FileVersion",      "1.0.0.1"
            VALUE "InternalName",     "Kaentake"
            VALUE "OriginalFilename", "Kaentake.exe"
            VALUE "ProductName",      "Kaentake"
            VALUE "ProductVersion",   "1.0.0.1"
            VALUE "LegalCopyright",   "Kaentake"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDI_ICON1 ICON DISCARDABLE "launcher.ico"
1 RT_MANIFEST "launcher.manifest"